include layout.pug

section.p-4.bg-secondary
    h2.text-primary Vista de Productos
    if products.length===0
        div.mt-4
        h2.bg-light.p-4.text-danger No se encontraron productos
    else
        table.table.table-dark
            thead
                tr
                    th Nombre
                    th Precio
                    th Foto
            tbody
                each product in products
                    tr.text-center
                        td.align-middle= product.name
                        td.align-middle= product.price
                        td.align-middle
                            img(src=product.picture alt=product.name)
    div.mt-3
    a(href="/")
        button.btn.btn-warning Agregar producto